{% extends "base.html" %}

{% block content %}


<!--
<ul>
{% for post in posts %}
<li><a href="/view-post?post={{ post.id }}">{{ post.title }}</a>  by <a href="/blog?user={{post.owner.id}}"> {{ post.owner.email }} </a> on {{post.date}}</li>
<li> {{ post.body }}</li>
{% endfor %}

-->
    <div class="row">
        
      <!-- Blog Entries Column -->
      <div class="col-md-12">

        <h1 class="my-4">Posts</h1>

        {% for post in posts %}
        <!-- Blog Post -->
        <div class="card mb-4">
          
          <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.body }}</p>
            <a href="/view-post?post={{ post.id }}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{post.date}} by
            <a href="/blog?user={{post.owner.id}}">{{ post.owner.email }}</a>
          </div>
        </div>
        {% endfor %}

</div>

        



        </div>

{% endblock %}