{% extends "base.html" %}

{% block content %}

<h1>Posts</h1>

<ul>
{% for post in posts %}
<li><a href="/view-post?post={{ post.id }}">{{ post.title }}</a></li>
<li> {{ post.body }}</li>
<li>{{post.date}}</li>
{% endfor %}



{% include "add.html" %}


<!-- <h1>Add a new Post</h1>

    <div class="new-post container">
    <form action="/" method="post">
        <div id="post-title-form">
            <label for="post-title">Post Title</label>
            <input name="post-title" type="text" >
        </div>
        <div id= "new-post-form">
            <label for="new-post" type="text" value="new-post">Post Body</label>
            <textarea name="new-post" cols="50" rows="10"></textarea>
        </div>
        <div id="new-post-submit">
            <input name="submit-post" type="submit" value="Submit">
        </div>
        </form>
    </div> 

-->


{% endblock %}